.nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  height: var(--navbar-height)
}

.navScrollDown {
  background-color: #fff;
  transition: background-color 500ms ease-in;
}

.navScrollUp {
  background-color: transparent;
  transition: background-color 500ms ease-in;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 75%;
}

.logoContainer:hover {
  cursor: pointer;
}

.linksContainer {
  display: flex;
  justify-content: space-evenly;
}

.linksContainer li {
  list-style: none;
  margin: 1rem;
}

.linksContainer li:hover {
  cursor: pointer;
}