.contactContainer {
  width: 100%;
  padding: var(--navbar-height) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-1);
}

.header {
  font-size: var(--topic-header-size);
  text-align: center;
  margin: 0 0 1rem 0;
}

.linksContainer {
  display: flex;
}

.imgContainer {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
}

.form {
  width: 30rem;
}

.form input,
.form textarea {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form input {
  height: 2rem;
}

.formField {
  margin: 1rem;
}

.formField label {
  font-size: 1.3rem;
}

.btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  width: 100%;
  border-radius: 5px;
  padding: 0.6rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 200;
  transition: all 200ms ease-in;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
  border: 1px solid var(--btn-hover);
}

@media (max-width: 576px) {
  .header {
    font-size: var(--mobile-h2-size);
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .form {
    width: 100%;
  }
}