.card {
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  width: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.bottomHalf {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 0.7rem;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.description {
  margin: 0.7rem 0;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem;
  border-radius: 3px;
  background-color: rgb(235, 235, 235);
}

.linksContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.link {
  border: 1px solid var(--accent-color);;
  background-color: var(--accent-color);
  color: #fff;
  width: 7rem;
  padding: 0.4rem 0;
  border-radius: 6px;
  margin-top: 0.5rem;
  transition: all 200ms ease-in;
}

.link:hover {
  background-color: var(--btn-hover);
  border: 1px solid var(--btn-hover);
}