.projectsContainer {
  width: 100%;
  padding: var(--navbar-height) 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-color-1);
}

.header {
  font-size: var(--topic-header-size);
  text-align: center;
  margin: 2rem 0;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  padding: 0;
}