@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;

  --bg-color-1: rgb(241, 241, 241);
  --bg-color-2: rgb(250, 250, 250);
  --topic-header-size: 4.7rem;
  --navbar-height: 3.5rem;
  --accent-color: #22aeff;
  --h1-color: #000310;
  --h2-color: #000310;
  --text-color: #000;
  --btn-hover: #1e8ccc;

  /* MOBILE */
  --mobile-h2-size: 3rem;
  --mobile-p-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 576px) {
  h2 {
    font-size: 3rem;
    font-weight: 700;
  }

}
