.aboutContainer {
  width: 100%;
  min-height: 100vh;
  padding-top: var(--navbar-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.aboutContainer h2 {
  font-size: var(--topic-header-size);
  margin: 0;
}

.aboutMeContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.aboutMeContainer p {
  line-height: 2rem;
}

.techContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgContainer {
  position: relative;
  height: 4rem;
  width: 6rem;
  margin: 1rem;
}